/* Ensure header and nav bar are centered */
header {
  position: relative;
  background-color: #1f1f1f;
  color: #e0e0e0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333;
  width: 100vw;
  z-index: 1000; /* Ensure header stays above other content */
}

header h1 {
  z-index: 1000;
  margin: 0;
  font-size: 2.5em;
  font-weight: bold;
  letter-spacing: 0.05em;
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  text-align: center;
  padding: 0;
}

nav a {
  color: #e0e0e0;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 1.1em;
  letter-spacing: 0.02em;
  margin: 0 10px;
}


nav a:hover {
  color: #03DAC6;
}

@font-face {
  font-family: 'Horizon';
  src: url('horizon.otf') format('opentype');
}

body {
  font-family: 'Horizon', serif;
}

